Practice/Five.xsd

<?xml version="1.0" encoding="UTF-8"?>
	
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xsd:element name="SalesPerson">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="Name"/>
				<xsd:element name="BusinessInfo">
					<xsd:complexType>
						<xsd:sequence>
						<xsd:element name="Company" type="xsd:string"/>
						<xsd:element name="Department" type="xsd:string"/>
						<xsd:element name="Manager" type="xsd:string"/>
						<xsd:element name="PhoneNo" type="xsd:string"/>
						<xsd:element name="Email" type="xsd:string"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="PersonalInfo">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="PhoneNo" type="xsd:string"/>
							<xsd:element name="Address" type="xsd:string"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>