Practice/mixed.xsd

<?xml version="1.0" encoding="UTF-8"?>
	
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xsd:element name="Employee">
		<xsd:complexType>
			<xsd:choice>
				<xsd:element name="fname"/>
				<xsd:element name="lname"/>
			</xsd:choice>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>