Practice/Three.xsd



	
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xsd:element name="Student">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="StudentName" type="xsd:string" />
				<xsd:element name="PersonalInfo">
					<xsd:complexType>
						<xsd:sequence>
						<xsd:element name="Address" type="xsd:string"/>
						<xsd:element name="BirthDate" type="xsd:string"/>
						<xsd:element name="Gender" type="xsd:string"/>
						<xsd:element name="MobileNo">
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:pattern value="\d{10}"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="Result">
					<xsd:complexType>
						<xsd:sequence>
						<xsd:element name="Total" type="xsd:integer" />
						<xsd:element name="Percentage" type="xsd:int"/>						
						<xsd:element name="Grade" type="xsd:string"/>
					</xsd:sequence>
						</xsd:complexType>
					
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>