Unit 4/Lunch.xsd

<?xml version="1.0" encoding="UTF-8"?>
	
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
		<xsd:element name="Lunch">
			<xsd:complexType>
				<xsd:sequence>
		
		<!--Starter-->
		<xsd:element name="Starter">	
			<xsd:simpleType>
				<xsd:restriction base="xsd:string">
				<xsd:enumeration value="Juicer"/>
				<xsd:enumeration value="Soup"/>
				</xsd:restriction>
			</xsd:simpleType>
			</xsd:element>
			
			<!--Main Course-->
			<xsd:element name="MainCourse">
				<xsd:simpleType>
				<xsd:restriction base="xsd:string">
					<xsd:enumeration value="Veg Lunch"/>
					<xsd:enumeration value="non veg"/>
				</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			
			<!--Dessert-->
			<xsd:element name="Dessert">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:enumeration value="Ice Cream"/>
						<xsd:enumeration value="Salad"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
	
	
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:schema>