Unit 4/SalesPerson.xsd

<?xml version="1.0" encoding="UTF-8"?>
	
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
		<xsd:element name="SalesPerson">
		<xsd:complexType>
		<xsd:sequence>
		
			<!--Name-->
			<xsd:element name="Name"/>
			
			<!--Business Info-->
			<xsd:element name="BusinessInfo">
			<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="Company" type="xsd:string"/>
				<xsd:element name="Department">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
					<xsd:enumeration value="Sales"/>
					<xsd:enumeration value="Financial"/>
					<xsd:enumeration value="Operation"/>
					<xsd:enumeration value="Database"/>
					</xsd:restriction>
				</xsd:simpleType>
				</xsd:element>
				<xsd:element name="Manager" type="xsd:string"/>
				<xsd:element name="PhoneNo" type="xsd:int"/>
				<xsd:element name="Email" type="xsd:string"/>
			</xsd:sequence>
			</xsd:complexType>
			</xsd:element>
			<!--Persnol Info-->
		<xsd:element name="PersnolInfo">
		<xsd:complexType>
		<xsd:sequence>
		<xsd:element name="PhoneNo" type="xsd:int"/>
		<xsd:element name="Address" type="xsd:string"/>
		</xsd:sequence>
		</xsd:complexType>
		</xsd:element>
		
		</xsd:sequence>
		</xsd:complexType>
		
		</xsd:element>

</xsd:schema>