Unit 4/Vendor.xsd

<?xml version="1.0" encoding="UTF-8"?>
	
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xsd:element name="Vendor">
	<xsd:complexType>
	<xsd:sequence>
		<xsd:element name="Name" type="xsd:string"/>
		<xsd:element name="PersonalInfo">
		<xsd:complexType>
		<xsd:sequence>
		<xsd:element name="Address" type="xsd:string"/>
		<xsd:element name="BirthDate" type="xsd:date"/>
		<xsd:element name="Gender" type="xsd:string"/>
		<xsd:element name="Pincode" type="xsd:int"/>
		</xsd:sequence>
		</xsd:complexType>
		</xsd:element>
	</xsd:sequence>
	</xsd:complexType>
	</xsd:element>
</xsd:schema>