202300319010105/OrderDetail.dtd

<?xml version="1.0" encoding="UTF-8"?>

<!ELEMENT OrderDetail (OrderNumber,OrderRate,OrderAmount,ItemPrice+,ItemName*,Quantity*)>

<!ELEMENT OrderNumber (#PCDATA)>
<!ATTLIST OrderNumber OrderDate CDATA #REQUIRED>
<!ELEMENT OrderRate (#PCDATA)>
<!ELEMENT OrderAmount (#PCDATA)>
<!ELEMENT ItemPrice (#PCDATA)>
<!ELEMENT ItemName (#PCDATA)>
<!ELEMENT Quantity (#PCDATA)>