Final exam practice/Unit 4/4.xsd

<?xml version="1.0" encoding="UTF-8"?>
	
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xsd:element name="Employees">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="Employee" type="xsd:string" minOccurs="1" maxOccurs="1"/>
				<xsd:element name="child">
					<xsd:simpleType>
						<xsd:restriction base="xsd:string">
							<xsd:enumeration value="boy"/>
							<xsd:enumeration value="girl"/>
						</xsd:restriction>
					</xsd:simpleType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>